<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


<description>
        This tutorial demonstrates how to configure spring using XML based configuration
    </description>

    <bean id ="sampleBean" class="SampleBean"/>

    <bean id="X509TrustManager" class="org.apache.commons.net.util.TrustManagerUtils" factory-method="getAcceptAllTrustManager" />

    <bean id="sslContext" class="javax.net.ssl.SSLContext"
          factory-method="getInstance">
        <constructor-arg type="java.lang.String" value="SSL" />
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject">
            <ref local="sslContext" />
        </property>
        <property name="targetMethod" value="init" />
        <property name="arguments">
            <list>
                <null />
                <array>
                    <ref bean="X509TrustManager" />
                </array>
                <null />
            </list>
        </property>
    </bean>
    <bean id="noopHostnameVerifier" class="org.apache.http.conn.ssl.NoopHostnameVerifier" />
    <bean id="sslConnectionSocketFactory" class="org.apache.http.conn.ssl.SSLConnectionSocketFactory" >
        <constructor-arg ref="sslContext" />
        <constructor-arg ref="noopHostnameVerifier" />
    </bean>

    <bean id="registryBuilder" class="org.apache.http.config.RegistryBuilder" factory-method="create"/>

    <bean id="socketFactoryRegistryBuilder" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean" >
        <property name="targetObject" ref="registryBuilder" />
        <property name="targetMethod" value="register" />
        <property name="arguments">
            <list>
                <value>https</value>
                <ref bean="sslConnectionSocketFactory" />
            </list>
        </property>
    </bean>
    <bean id="plainConnectionSocketFactory" class="org.apache.http.conn.socket.PlainConnectionSocketFactory" factory-method="getSocketFactory"/>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean" >
        <property name="targetObject" ref="registryBuilder" />
        <property name="targetMethod" value="register" />
        <property name="arguments">
            <list>
                <value>http</value>
                <ref bean="plainConnectionSocketFactory" />
            </list>
        </property>
    </bean>
    <bean id="socketFactoryRegistry" factory-bean="socketFactoryRegistryBuilder" factory-method="build" />
    <bean id="globalConnectionManager" class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager">
        <constructor-arg ref="socketFactoryRegistry" />
        <property name="maxTotal" value="10" />
        <property name="defaultMaxPerRoute" value="20" />
    </bean>
    <bean id="globalHttpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder" factory-method="create">
        <property name="sSLContext" ref="sslContext" />
        <property name="connectionManager" ref="globalConnectionManager"/>
    </bean>

    <bean id="globalHttpsClient" factory-bean="globalHttpClientBuilder" factory-method="build" />
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <constructor-arg>
            <bean
                    class="org.springframework.http.client.HttpComponentsClientHttpRequestFactory">
                <constructor-arg ref="globalHttpsClient" />
                <property name="readTimeout" value="1000" />
                <property name="connectTimeout" value="2000" />
            </bean>
        </constructor-arg>
    </bean>

</beans>